# Node Libraries
node_modules/

# npm
npm-debug.log

# Compiled Python
*.py[cod]

# Python packages
*.egg
*.egg-info
__pycache__

# Experiment code
spike/

# Notes for myself
TODO.md

# Detritus
.DS_Store
